body {
  overflow-x: hidden;
}

.selected {
  background-color: #6c5cd3;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.notSelected {
  cursor: pointer;
}

.search {
  margin-left: 20vw;
  transform: translate(-50%, -50%);
  font-size: 16px;
  background: transparent;
  color: black;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: 3px solid rgb(183, 182, 182);
  outline: none;
  border-radius: 35px;
  transition: all 0.5s;
  box-shadow: 0 4px 8px 0 rgba(152, 150, 150, 0.2), 0 6px 20px 0 #c8c6d0;
}
.search::placeholder {
  color: rgb(102, 102, 102);
  opacity: 0;
  transition: opacity 160ms ease-out;
}
.search:focus::placeholder {
  opacity: 1;
}
.search:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #b5bff4;
}
.search:focus,
.search:not(:placeholder-shown) {
  width: 450px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #b5bff4;
}

.no-focus-outline:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(236, 234, 234);
}
.no-focus-outline {
  outline: none;
  box-shadow: none;
  border-color: rgb(236, 234, 234);
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.bell {
  font-size: large;
  margin-left: 16vw;
  margin-top: 7px;
}

.img {
  border-radius: 50px;
}

.live {
  background-color: rgb(249, 89, 89);
  width: 10%;
  padding: 4px;
  border-radius: 10px;
  margin-left: -5vw;
  margin-bottom: 20px;
}

.details {
  margin-left: -6vw;
  float: left;
}
.viewBtn {
  margin-left: -5vw;
  float: left;
  margin-top: 3vw;
}

.viewBtn {
  z-index: 10;
  background-color: #7a6bde;
  color: white;
  border-radius: 10px;
  margin-left: -8vw;
  margin-top: 5vw;
}
.viewBtn:hover {
  background-color: #6251d4;
  color: white;
}

.carousel-control-prev {
  height: 50%;
}
